body {
  background-color: black;
  color: #b0b0b0;
}

h1 {
  font-size: 7vmax;
}

a:link {
  color: #b0b0b0;
}
a:visited {
  color: #b0b0b0;
}
a:hover {
  color: #dedede;
}
a:focus {
  color: #dedede;
}
a:active {
  color: white;
}

a {
  padding: 5px;
}

#links {
  margin-bottom: 1%;
  font-size: 2vmax;
}

#soundcloud-svg {
  width: 40px;
  height: 40px;
}
